/* GLOBAL STYLE */

:root {
   --color-income : #1dcc70;
   --color-outcome : #ff396f;
}

body {
   font-family: "Poppins", sans-serif;
   background-color: #efedff;
}

@media (min-width: 1200px) {
   .container {
      max-width: 1140px !important;
   }
}

/* Header */
#header {
   background: linear-gradient(100deg, #312672 60%,
   darkslateblue 100%);
   clip-path: ellipse(87% 100% at 31.5% 0%);
   color: whitesmoke;
   height: 200px;
   z-index: 1;
}

/* Balance Box */
#balance-box .container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.total-balance {
   background-color: #efedff;
   border-radius: 10px 10px;
   margin-top: -70px;
   z-index: 2;
}

.total-balance h2 {
   color: #4b32d0;
}

.mini-balance {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   margin: 0;
   text-align: center;
   flex: 1 1;
}

.mini-balance-income {
   border-bottom-left-radius: 10px;
   border-right: 1px solid #eee;
   background-color: var(--color-income);
}

.mini-balance-outcome {
   border-bottom-right-radius: 10px;
   border-right: 1px solid #eee;
   background-color: var(--color-outcome);
}

/* Transaction */
.list-transaction {
   color: #4b32d0;
   display: flex;
   justify-content:space-between;
   align-items: center;
   background-color: white;
   position: relative;
}
.list-transaction small {
   font-size: 0.7rem;
}

.list-income {
   border-left: 5px solid var(--color-income);
   background-color: lavender;
   border-radius: 5px;
}

.list-outcome {
   border-left: 5px solid var(--color-outcome);
   background-color: lavender;
   border-radius: 5px;
}

.list-income .text {
   color: #1aa35b;
   white-space: nowrap;
}

.list-outcome .text {
   color: #d6325f;
   white-space: nowrap;
}

.list-transaction .delete-icon {
   background-color: var(--color-outcome);
   color: #fff;
   position: absolute;
   right: 0;
   top: 0;
   width: 20px;
   height: 20px;
   text-align: center;
   font-size: 16px;
   cursor: pointer;
   border-top-right-radius: 3px 3px;
   border-bottom-left-radius: 3px;
   line-height: 16px;
   opacity: 0;
}
.list-transaction:hover .delete-icon {
   opacity: 1;
   transition: all ease-in-out 0.4s;
}

/* Form */
.btn-primary {
   background-color: #4b32d0;
   border-color: #221088;
}

.btn-primary:hover {
   background-color: #3924a7;
   border-color: #261773;
}

.btn-primary:focus {
   background-color: #4b32d0;
   border-color: #221088;
   box-shadow: 0 0 0 0.25rem rgb(200 191 255);
}

.error-box {
   color: var(--color-outcome);
}

.error-box ul {
   border: 1px solid var(--color-outcome);
   border-radius: 5px;
   background-color: #ffdfdf;
}

.error-box p {
   margin: 0;
}

/* Footer */
#footer {
   background-color: #312672;
   clip-path: ellipse(189% 100% at 143.13% 100%);
   color: whitesmoke;
}